magic_paperNotes.bib

*.pdf
*.aux 
*.bit 
*.blg 
*.bbl 
*.lof 
*.log 
*.lot 
*.glo 
*.glx 
*.gxg 
*.gxs 
*.idx 
*.ilg 
*.ind 
*.out 
*.url 
*.svn 
*.toc
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)

notes/notesNotes.bib
notes/*.pdf
notes/*.aux 
notes/*.bit 
notes/*.blg 
notes/*.bbl 
notes/*.lof 
notes/*.log 
notes/*.lot 
notes/*.glo 
notes/*.glx 
notes/*.gxg 
notes/*.gxs 
notes/*.idx 
notes/*.ilg 
notes/*.ind 
notes/*.out 
notes/*.url 
notes/*.svn 
notes/*.toc
notes/*.synctex
notes/*.synctex(busy)
notes/*.synctex.gz
notes/*.synctex.gz(busy)